.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.searchSkillsWrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 2rem;
    align-items: center;
}

@media(max-width: 768px){
    .searchSkillsWrapper{
        width: 85%;
    }
}