.sideImageWrapper{
    display: flex;
    width: 40%;
    height: 100%;
    background: url('./addJobWallpaper.png');
    background-position: center;
    background-size: contain;
    color: white;
    padding: 2% 3%;
    box-sizing: border-box;
}